body{
	background-color: #ddd8c6;
	background-image: linear-gradient(to left, #f0f0f0 0%, #e0e0e0 100%);
    background-size: 200px 100%; /* Ширина полос и высота 100% страницы */
    overflow-x: hidden;
}
#main{
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 24px;
	position: relative;
	left: 38%;
}
#datas{
	position: relative;
	left: 38%;
}
.main_text{
	position: relative;
	left: 10%;
	font-family: cursive;
}
.image{
	position: relative;
	left: 10%;
}